

:root{
    --primary-text-color: #1F2123;
    --primary-activated-text-color: #F6FFF8;
    --secondary-activated-text-color: #A4C3B2;
    --primary-button-color: #A4C3B2;
    --secondary-button-color: #6B9080;
    --input-focus-bd-color: #0d0d0d;
}

.content{
    font-size: 16px;
    line-height: 30px;
    display: flex;
    flex-direction: column;

    max-width: 85%;       /* half of the original width */
    margin: 35px auto 15vh auto;  /* top:35px, bottom:15vh, auto left/right to center */
    padding: 0 1rem;      /* optional inner padding */
    gap: 10px;
    color: #37352F;
}

.content > h1{
    font-size: 40px;
    font-weight: 700;
}

.content > h2{
    font-size: 1.5em;
    font-weight: 600;
}

.content > h3{
    font-size: 1.25em;
    font-weight: 600;
    color: var(--primary-button-color);
}

.content a{
    color: #82817f;
    text-decoration: underline;
}

.content ul, .content ol{
    margin-left: 15px;
}

.content ul{
    list-style-type: disc;
}   


.content ol{
    list-style-type: decimal;
}   

.content blockquote{
    padding: 4px 8px;
    border-left: 3px solid #37352f;
}   


.content pre{
    padding: 10px;
    background-color: #f7f6f3;
}  

.content code{
    background-color: transparent !important;
}

::selection {
    background-color:var(--secondary-button-color);
    color:  var(--primary-activated-text-color);
}
.withMargin{
    margin-bottom:100px;
}